body {
    margin: 0;
    background-color: rgb(0,31,0);
    font-family: sans-serif;
}
header {
    background-color: #7b7;
    margin: 0;
    padding: 1em;
    text-align: center;
}
header h1 {
    margin-top: 0;
}

#screen {
    position: relative;
    aspect-ratio: 1;
    border: 1px solid black;
    margin: 1em auto;

    background-color: #070;
}
#controls {
    width: 30em;
    margin-left: auto;
    margin-right: auto;
}
#controls input[type='text'] {
    width: 7em;
    text-align: right;
}
#controls select {
    width: 7em;
}
#controls input[type='button'] {
    width: 12em;
    text-align: left;
}
#notes {
    background-color: #7b7;
    margin: 1em;
    border-radius: 1em;
    padding: 0.1em 1em;
}
