body {
    font-family: sans-serif;
    background-color: #333;
}
h1 {
    color: white;
}
table {
    border-collapse: collapse;
    background-color: white;
}
th {
    background-color: #999;
    font-weight: bold;
}
td {
    padding: 0px 4px;
    vertical-align: top;
}
td.images {
    background-color: #333;
}
div.tiles_set {
    margin-top: 2px;
    text-align: center;
    width: 270px;
    line-height: 0;
}
td img, div.img_stack {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
}
div.img_stack {
    position: relative;
    border: 1px solid black;
    text-align: left;
    background-color: #ddd;
    display: inline-block;
}
div.img_stack.layered {
    x-border: 1px solid pink;
}
tr td:last-child {
    overflow-x: auto;
}
td:empty {
    background-color: #ddd;
}
a:link {
    x-color: rgb(150,150,255);
}
a:visited {
    x-color: rgb(255,150,255);
}
.definition {
    display: none;
}
